* {
    margin: 0;
    padding: 0;
}

#p1 {
    font-size: 32px;
    font-family: "돋움체", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 2em;
    text-align: center;
}

#p2 {
    font-size: 2em;
    font-family: 'Malgun gothic';
    font-style: oblique; 
    font-weight: bold;
    letter-spacing: 0.5em;
    text-align: right;
}

#p3 {
    font-size: 200%;
    font-family: '궁서체';
    font-weight: bolder;
    text-align: left;
}

#p4 {
    /* heigth, line-height의 값을 동일하게 주면 세로 중앙에 위치 */
    background-color: yellow;
    height: 200px;
    font-size: 50px;
    line-height: 200px;
}

#p5 > a{
    text-decoration: none;
}

#p6, #p7 {
    width: 300px;
    border: 1px solid black;
    white-space: nowrap; /* 박스 밖으로 나감 */ 
}

#p6 {
    text-overflow: clip;
    overflow: hidden; /* 영역 벗어나면 안 보이게 */
}

#p7 {
    text-overflow: ellipsis;  /* 영역을 벗어나게 되면 ...으로 표시됨 */
    overflow: hidden;
}