* {
    margin: 0;
    padding: 0;
}

#wrapper { 
    width: 80%;
    background-color: lightgray; 
    margin: 0 auto;
}

header {
    height: 120px;
    background-color: orange;
}

li {
    display: inline;
}

aside {
    background-color: antiquewhite;
}
aside#left {
    width: 11%;
    float: left;
}
#content {
    width: 70%;
    float: left;
    padding: 2%;
}
section {
    float: left;
    width: 49%;
}
aside#right {
    width: 11%;
    float: left;
}

footer {
    height: 80px;
    clear: left;
    background-color: blue ;
}
